* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 24px;
}

#player {
    display: flex;
    justify-content: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    margin: 50px auto;
}

.extraButton-container {
    display: grid;
    grid-template-rows: auto auto;
    width: 260px;
    margin: 50px auto;
    justify-content: center;
}

#resetDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5px;
    text-align: center;
}

#extraDiv {
    display: flex;
    justify-content: center;
    justify-self: center;
    
    /*gap: 20px;*/
}

/* Field Reset Button (größer) */
#resetField {
    flex: 2;
    padding: 15px 30px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Automatik Reset Styling */
.automatikReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#ar {
    font-size: 12px;
    text-align: center;
}

/* Switch Styling */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* Player Switch und Reset Game Buttons */
.extra {
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 115px;
    margin: 10px;
    align-items: center;
    text-align: center;
    display: grid;
    justify-content: center;
    cursor: pointer;
}

.button-item {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.gamefield {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    outline: none;
}

.gamefield:hover {
    background-color: #ddd;
}

.point-container {
    width: 300px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 33%;
}
